a {
  color: #d3eaf0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'Bungee', cursive;
  font-size: 15px;
  padding: 4px;
}
.active {
  color: green;
}
a:hover {
  color:#704366;
}


body {
  margin-left: 10%;
  margin-right: 10%;
}

.AshtrayDiv {
  text-align: center;
}
.AshtrayImage {
  width: 100%;
}

.Header {
  margin-top: 10%;
}


@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
