/* header */

.Header {
  margin-top: 8%;
  margin-bottom: 3%;

}


.NavBox {
  margin-top: 1%;
  width: 30%;
}


.headerImage {
  width: 35%;
}

a {
  color: #8ebef1;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 4px;
  margin-right: 5px;
  font-weight: 400;

}
.active {
  color: #114369;
}
a:hover {
  color:#f27107;
}

/* body */
body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* home */
.AshtrayDiv {
  text-align: center;
}
.AshtrayImage {
  width: 100%;
}

/* Coding */

.PotterlyDiv {
  text-align: left;
}
.PotterlyImage {
  width:40%;
}

h3 {
  letter-spacing: .01em;
}

/* about css */
.AboutDiv {
  display: flex;
}

.MeDiv {
  width: 30%;
}

.aboutInfo {
  margin-left: 2%;
}

/*pots page */

.CeramicsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%
}

.potImage {
  width: 30%;
  padding: 4px;
}

/* font imports */


@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

@font-face {
    font-family: Liquido;
    src: url("../assets/fonts/LIQUIDO-Fluid.otf") format("opentype");
}
